@model QuanLyBanSach.Models.DanhMucSach

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sửa</h1>

<h4>Danh mục sách</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDm" />
            <div class="form-group">
                <label asp-for="TenDm" class="control-label">Tên danh mục</label>
                <input asp-for="TenDm" class="form-control" />
                <span asp-validation-for="TenDm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary btn-tone m-r-5" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info btn-tone m-r-5" asp-action="Index">Quay lại</a>
</div>

