@model IEnumerable<QuanLyBanSach.Models.NhaXuatBan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách nhà xuất bản</h1>

<p>
    <a class="btn btn-sm btn-outline-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên nhà xuất bản
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNxb)
            </td>
            <td>
                    <a class="btn btn-info btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.MaNxb">Edit</a>
                    <a class="btn btn-primary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.MaNxb">Details</a>
                    <a class="btn btn-secondary btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.MaNxb">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
