@model QuanLyBanSach.Models.BanSaoSach

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Bạn có chắc muốn xóa bản sao này không?</h3>
<div>
    <h4>Bản sao sách</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tình trạng bản sao
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangBs)
        </dd>
        <dt class = "col-sm-2">
            Mã sách
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSachNavigation.MaSach)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaBanSao" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Quay lại</a>
    </form>
</div>
