@model QuanLyBanSach.Models.Sach

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>Create</h1>

<h4>Sách</h4>
<hr />*@
@*
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="MaSach" class="control-label"></label>
        <input asp-for="MaSach" class="form-control" />
        <span asp-validation-for="MaSach" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenSach" class="control-label"></label>
        <input asp-for="TenSach" class="form-control" />
        <span asp-validation-for="TenSach" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GiaBan" class="control-label"></label>
        <input asp-for="GiaBan" class="form-control" />
        <span asp-validation-for="GiaBan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa" class="control-label"></label>
        <input asp-for="MoTa" class="form-control" />
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoLuongBs" class="control-label"></label>
        <input asp-for="SoLuongBs" class="form-control" />
        <span asp-validation-for="SoLuongBs" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Anh" class="control-label"></label>
        <input asp-for="Anh" class="form-control" />
        <span asp-validation-for="Anh" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NgayCapNhat" class="control-label"></label>
        <input asp-for="NgayCapNhat" class="form-control" />
        <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoLuongCon" class="control-label"></label>
        <input asp-for="SoLuongCon" class="form-control" />
        <span asp-validation-for="SoLuongCon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaNxb" class="control-label"></label>
        <select asp-for="MaNxb" class="form-control" asp-items="ViewBag.MaNxb"></select>
    </div>
    <div class="form-group">
        <label asp-for="MaTg" class="control-label"></label>
        <select asp-for="MaTg" class="form-control" asp-items="ViewBag.MaTg"></select>
    </div>
    <div class="form-group">
        <label asp-for="MaDm" class="control-label"></label>
        <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary btn-tone m-r-5" />
    </div>
</form>
*@

<form asp-controller="Sach" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="page-header no-gutters">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 115px; width: 85px">
                    <img src="~/images/books/img-01.jpg" alt="">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">Thêm sách</h4>
                    <input name="fThumb" type="file" class="form-control-file" asp-for="Anh" accept="image/*"></input>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary btn-tone m-r-5" />
            </div>
        </div>
    </div>
    <div class="tab-content m-t-15">
        <div id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="row">
@*                        <div class="form-group col col-lg-4">
                            <label class="control-label font-weight-semibold">Mã sách</label>
                            <input asp-for="MaSach" class="form-control" />
                            <span asp-validation-for="MaSach" class="text-danger"></span>
                        </div>*@
                        <div class="form-group col col-lg-4">
                            <label class="font-weight-semibold" for="productName">Tên sách</label>
                            <input type="text" class="form-control" asp-for="TenSach">
                            <span asp-validation-for="TenSach" class="text-danger"></span>
                        </div>
                        <div class="form-group col col-lg-4">
                            <label class="font-weight-semibold" for="productPrice">Giá bán</label>
                            <input type="number" class="form-control" asp-for="GiaBan">
                            <span asp-validation-for="GiaBan" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col col-lg-3">
                            <label class="font-weight-semibold" for="productCategory">Danh mục sản phẩm</label>
                            <select class="custom-select" asp-for="MaDm" asp-items="ViewBag.MaDm" style="min-width: 180px;">
                                <option selected>Chọn danh mục</option>
                            </select>
                        </div>
                        <div class="form-group col col-lg-3">
                            <label class="font-weight-semibold" for="productBrand">Tác giả</label>
                            <select class="custom-select" asp-for="MaTg" asp-items="ViewBag.MaTg" style="min-width: 180px;">
                                <option selected>Chọn tác giả</option>
                            </select>
                        </div>
                        <div class="form-group col col-lg-3">
                            <label asp-for="MaNxb" class="control-label font-weight-semibold">Nhà xuất bản</label>
                            <select asp-for="MaNxb" class="form-control" asp-items="ViewBag.MaNxb">
                                <option selected>Chọn nhà xuất bản</option>
                            </select>
                        </div>
                        <div class="form-group col col-lg-3">
                            <label class="font-weight-semibold" for="productStatus">Số lượng</label>
                            <input type="number" class="form-control" asp-for="SoLuongCon">
                            <span asp-validation-for="SoLuongCon" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="font-weight-semibold">Mô tả<p />
        <textarea id="tiny" asp-for="MoTa"></textarea>
    </div>
</form>

<div>
    <a class="btn btn-info btn-tone m-r-5" asp-action="Index">Quay lại</a>
</div>


@*
@section Scripts{
    <script src="~/Admin/assets/vendors/select2/select2.min.js"></script>
    <script src="~/Admin/assets/js/pages/e-commerce-product-edit.js"></script>
}
*@
