<div class="side-nav">
	<div class="side-nav-inner">
		<ul class="side-nav-menu scrollable">
			<li class="nav-item dropdown open">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-dashboard"></i>
					</span>
					<span class="title">Quản lý sản phẩm</span>
					<span class="arrow">
						<i class="arrow-icon"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a asp-area="Admin" asp-controller="BanSao" asp-action="Index">Quản lý bản sao</a>
					</li>
					<li>
						<a asp-area="Admin" asp-controller="Sach" asp-action="Index">Danh sách sản phẩm</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown open">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-appstore"></i>
					</span>
					<span class="title">Quản lý đơn hàng</span>
					<span class="arrow">
						<i class="arrow-icon"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a asp-area="Admin" asp-controller="DonHangs" asp-action="Index">Danh Sách Đơn Hàng</a>
					</li>
			</li>
		</ul>
		</li>
		<li class="nav-item dropdown open">
			<a class="dropdown-toggle" href="javascript:void(0);">
				<span class="icon-holder">
					<i class="anticon anticon-build"></i>
				</span>
				<span class="title">Quản lý người dùng</span>
				<span class="arrow">
					<i class="arrow-icon"></i>
				</span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a asp-area="Admin" asp-controller="NguoiDungs" asp-action="Index">Danh sách người dùng</a>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown open">
			<a class="dropdown-toggle" href="javascript:void(0);">
				<span class="icon-holder">
					<i class="anticon anticon-hdd"></i>
				</span>
				<span class="title">Quản lý danh mục</span>
				<span class="arrow">
					<i class="arrow-icon"></i>
				</span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a asp-area="Admin" asp-controller="DanhMucSaches" asp-action="Index">Danh mục sách</a>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown open">
			<a class="dropdown-toggle" href="javascript:void(0);">
				<span class="icon-holder">
					<i class="anticon anticon-form"></i>
				</span>
				<span class="title">Quản lý Admin</span>
				<span class="arrow">
					<i class="arrow-icon"></i>
				</span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a asp-area="Admin" asp-controller="Admins" asp-action="Index">Danh sách admin</a>
				</li>
			</ul>
		</li>
		</ul>
	</div>
</div>
